<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HaeYaGym
    </title>
</head>
<body>
    <header>
        <div id="header__mobileAd">
            <span>
                <strong>해야짐</strong>이 처음이신가요? 지금 바로 체험해보세요!
            </span>
            <a href="">
                <i class="fa-solid fa-mobile-screen"></i>
                <span>앱 다운로드</span>
            </a>
        </div>
        <div id="header__main">
            <a href="/"><img src="/logo/logo.png" id="header__logo"></a>
            <nav>
                    <%= email %>
                    <a href="/MyPage">마이페이지</a> 
                    <a href="/Calendar">운동달력</a> 
                    <a href="/Board">커뮤니티</a> 
                    <a href="/auth/logout">로그아웃</a>   
            </nav>
        </div>
    </header>ㄴ
    <div class="container">
        <div class="page_name"><strong>마이페이지</strong></div>
        <div class="page_body">
            <div class="left_section">
                <div class="left_write">내 프로필</div>
                <div class="profile">
                    <div class="img">

                    </div>
                    <div class="profile_name">
                        <input type="text" id="pro_name" class="pro_name">
                    </div>
                    <div class="my_pro">
                        나의 소개
                    </div>
                    <div class="my_pro_box">
                        <input type="text" id="box" class="box">
                    </div>
                    <div class="save">
                        <button class="btn_save" id="btn_save">저장</button>
                    </div>
                </div>
            </div>
            <div class="main_section">
                <div class="main_head">
                <div class="main_write">내 정보</div>
                <div class="add_write">표시는 반드시 입력하셔야 하는 항목입니다 *</div>
            </div>
            <div class="table_class">
                <table class="up_table">
                    <tr>
                        <td class="left_table">아이디</td>
                        <td>
                            <input type="text" id="pwd_ok" class="inline">
                        </td>
                    </tr>
                    <tr>
                        <td class="left_table">비밀번호</td>
                        <td>
                            <input type="password" id="pwd_ok" class="inline">
                        </td>
                    </tr>
                    <tr>
                        <td class="left_table">비밀번호 확인</td>
                        <td>
                            <input type="password" id="pwd_ok" class="inline">
                        </td>
                    </tr>
                    <tr>
                        <td class="left_table">이름</td>
                        <td>
                            <input type="text" id="pwd_ok" class="inline">
                        </td>
                    </tr>
                    <tr>
                        <td class="left_table">닉네임</td>
                        <td>
                            <input type="text" id="pwd_ok" class="inline">
                        </td>
                    </tr>
                    <tr>
                        <td class="left_table">이메일</td>
                        <td>
                            <input type="text" id="pwd_ok" class="inline">
                        </td>
                    </tr>
                    <tr>
                        <td class="left_table">휴대폰번호</td>
                        <td>
                            <input type="text" id="pwd_ok" class="inline">
                        </td>
                    </tr>
                    <tr>
                        <td class="left_table">성별</td>
                        <td>
                            <input type="text" id="pwd_ok" class="inline">
                        </td>
                    </tr>
                    <tr>
                        <td class="left_table">생일</td>
                        <td>
                            <input type="text" id="pwd_ok" class="inline">
                        </td>
                    </tr>
                    <tr>
                        <td class="left_table">휴먼회원 방지기간</td>
                        <td>
                            <label>
                              <input type="radio" name="year" value="1">1년  
                            </label>
                            <label>
                                <input type="radio" name="year" value="3">3년  
                              </label>
                              <label>
                                <input type="radio" name="year" value="5">5년  
                              </label>
                              <label>
                                <input type="radio" name="year" value="end">탈퇴시까지  
                              </label>
                        </td>
                    </tr>
                </table>


            </div>
        </div>
        </div>
        <div class="btn_ok">
            <button class="btn">확인</button>
        </div>

    </div>
    <footer>
        <div>
            <nav id="footer__nav">
                <a href="">ⓒHaeuagym.co.kr</a>
                <a href="">이용약관</a>
                <a href="">운영정책</a>
                <a href="">개인정보처리방침</a>
                <a href="">환불규정</a>
            </nav>
            <div id="footer__info">
                <strong>(주)해야짐</strong><br> 
                <span>대표 이혁주 | 8221 서울시 구로구 경인로 445 ([구]고척동 62-160) 동양미래대학교</span><br>
                <span>(주)해야짐은 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 (주)해야짐은 상품, 거래정보 및 거래에 대하여 책임을 지지 않습니다.</span>
            </div>
            <div id="footer__contact">
                <p>고객센터</p>
                <div id="footer__contact__kakao">
                    <img src="img/kakaotalk_sharing_btn_medium.png" >
                    <span>카카오톡 상담</span>
                </div>
                <span>평일 09:00 ~ 18:00(점심시간 13:00 ~ 14:00)</span>
                <span>주말 및 공휴일은 쉽니다..</span>
            </div>
        </div>
    </footer>
</body>
</html>