<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/join.css">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="/js/join.js"></script>
    </head>
    <body>
      <div class="container">
        <!-- Heading -->
        
        <!-- Links -->
        <ul class="links">
          <li>
            <a href="#" id="signup">회원가입</a>
          </li>
        </ul>
        
        <!-- Form -->
        <form  action="" method="post">
          
          <!-- email input -->
          <div class="first-input input__block first-input__block">
             <input type="email" placeholder="Email" class="input" id="email"   />
          </div>
          
          <!-- password input -->
          <div class="input__block">
             <input type="password" placeholder="Password" class="input" id="pw"    />
          </div>
          
          <!-- repeat password input -->
          <div class="input__block">
            <input type="password" placeholder="repeat_password" class="input" id="pw2"    />
         </div>

         <!-- name -->
         <div class="input__block">
          <input type="text" placeholder="nickname" class="input" id="name"    />
         </div>

         <!-- nickname -->
         <div class="input__block">
            <input type="text" placeholder="nickname" class="input" id="nick"    />
         </div>

         <!-- weight/height -->
         <div class="input__block">
            <div class="body_box">
            <input type="text" placeholder="weight" class="input" id="weight"    />
            <input type="text" placeholder="height" class="input" id="height"    />
        </div>
        </div>

         <!-- birth -->
         <div class="input__block">
        <div class=birth_box>
            <input type="text" placeholder="birth" class="input" id="birth"    />
            <input type="text" placeholder="month" class="input" id="month"    />
            <input type="text" placeholder="day" class="input" id="day"    />
        </div>
        </div>

         
          <!-- <div class="input__block"> 아직 몰라
             <input type="password" placeholder="Repeat password" class="input repeat__password" id="repeat__password"    />
          </div> -->
          <!-- sign in button -->

          <button class="signin__btn">
            Sign Up
          </button>
        </form>
        <!-- separator -->
      </div>
    </div>
      <footer>
      </footer>
    </body>
</html>