#header__mobileAd {
    background-color: #4C94FA;
    color: white;
    font-weight: 300;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header__mobileAd a {
    text-decoration: none;
    color: white;
    margin-left: 1.875rem;
}

#header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 880px;
    margin: 0.75rem auto;
}

#header__main #header__logo {
    width: 50px;
    height: 50px;
}

#header__main nav a{
    text-decoration: none;
    margin: 0.5rem;
    color: black;
}

header {
    font-size: 0.75rem;
    background-color: white;
}